<div class="tabs__content {{ tabButton.isActive ? 'tabs__content--active' : ''}}">
  <div class="align-xy">
    <p class="tabs__text-block">Our designs drive engagement at every touchpoint. Each layout is crafted with a strong understanding of user behavior, journeys, and emotions, and is strategically constructed so you can own and refine each page as needed without compromising your branding.</p>
  </div>
</div>