<div class="tabs__content {{ tabButton.isActive ? 'tabs__content--active' : ''}}">
  <div class="container container--fluid">
    <div class="column column--xl">
      <div class="font">
        <input type="radio" class="font__selector" id="merriweather" name="font" value="merriweather">
        <div class="font__wrapper">
          <div class="font__box bg--green" data-abbreviation="M"></div>
          <label for="font_one" class="font__label">Merriweather project is led by Sorkin Type</label>
        </div>
      </div>
    </div>
    <div class="column d--flex-column">
      <div class="font font--sm">
        <input type="radio" class="font__selector" id="roboto" name="font" value="roboto">
        <div class="font__wrapper">
          <div class="font__box bg--pink" data-abbreviation="R"></div>
          <label for="font_one" class="font__label">Roboto doesn't compromise, allowing letters</label>
        </div>
      </div>
      <div class="font font--sm">
        <input type="radio" class="font__selector" id="nato" name="font" value="nato">
        <div class="font__wrapper">
          <div class="font__box bg--blue" data-abbreviation="NS"></div>
          <label for="font_one" class="font__label">Noto Sans covers over 30 scripts</label>
        </div>
      </div>
    </div>
  </div>
</div>