//=============================================
// Background
//=============================================

.bg {
  &--green {
    background-color: #06a552;
  }
  &--pink {
    background-color: #ea007a;
  }
  &--blue {
    background-color: #016cfe;
  }
}