<!doctype html>
<html lang="en">
  <head>
    <title>{% if title|length %}{{ title }}{% else %}Please select one font{% endif %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
  {% block main %}
  {% endblock %}
  </body>
</html>